  <div class="container">
    <section class="new-shipping">
    <div class="row">
      <div class="class col-md-2 col-md-offset-1">
        <%= link_to 'Volver a Avisos', publications_path, class: 'label label-primary' %>
      </div>
    </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <h2>Editar Aviso</h2>
          <br>
        </div>
      </div>
      <!-- Formulario de New Shipping -->
      <%= render 'form', publication: @publication %>

      <!-- Datos de Contacto -->
      <%# render 'form', publication: @publication %>
    </section>
  </div>
