<header>
    <div class="header-content">
        <div class="header-content-inner">
            <div class="row">
                <div class="col-md-12">
                    <h2 id="homeHeading" class="home-title">¿Necesitas realizar un envío? <span class="bold">Encuentra tu transportista</span></h2>
                    <br>
                </div>
                <div class="col-md-12">
                    <h2 id="homeHeading2" class="home-title">¿Tienes espacio en tu vehículo? <span class="bold">Encuentra un envío al lugar que viajas</span></h2>
                    <br>
                </div>
               <hr>
           </div>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Avisos Recientes</a>
            <%= link_to "Publicar", new_publication_path, class: 'btn btn-primary btn-xl' %>
            <%= link_to "Ver Avisos", publications_path, class: 'btn btn-primary btn-xl' %>
        </div>
    </div>
</header>
